* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 10px;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5) url(./image/fundo.jpeg);
  background-size: 100% 100%;
  background-blend-mode: darken;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  position: relative;
  margin-top: 40px;
  font-size: 2.4em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  z-index: 2;
}

.btn {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background: #ffd32a;
  box-shadow: 0 15px 25px #ffd32a66;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 1em;
  text-transform: uppercase; 
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  z-index: 2;
}

.btn:hover {
  letter-spacing: 6px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 10000;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header .logo img {
  position: relative;
  display: flex;
  /*width: 80%;*/
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px; 
}

header .navigation li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 500;
  font-weight: bold;
}

header.sticky .navigation li a {
  color: #808e9b;
}

header .navigation li a:hover {
  color: #ffd32a;
  transition: 0.5s;
}

/* About */
.about {
  background: linear-gradient(0deg, #48dbfb,#0abde3,#0abde3,#48dbfb);
  min-height: 95vh;
  max-height: 900px
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.heading span {
  color: #ffd32a;
  font-size: 50px;
}

.heading h2 {
  margin-top: 80px;
  font-weight: 600;
  font-size: 30px;
}

.contentBox p {
  margin: 100px;
  margin-top: 80px;
  font-size: 1.5em;
}

/* Services */
.services {
  background: linear-gradient(0deg, #48dbfb,#0abde3,#0abde3,#48dbfb);
}

.services .titleText {
  margin-top: 80px;
}

.services .contentS {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}

.services .contentS .servicesBox {
  padding: 15px;
  background: linear-gradient(135deg, #b1b1b1, #8395a7, #485460) ;
  color: #fff;
  max-width: 250px;
  margin: 14px;
  border-radius: 1em;
  text-align: center;
  transition: 0.5s;
  border: 2px solid #ffd32a;
}

.services .contentS .servicesBox:hover {
  background: linear-gradient(135deg, #ffd32a, #ffa801);
}

.services .contentS .servicesBox img {
  max-width: 75px;
  filter: invert(1);
}

.contentS .servicesBox h2 {
  font-size: 1.1em;
  color: #111;
}

/* Gallery */
.gallery {
  background: linear-gradient(0deg, #48dbfb,#0abde3,#0abde3,#48dbfb);
}

.heading.gallery {
  font-weight: 600;
  font-size: 30px;
  background: none;
  margin-top: 80px;
}

.swiper-container {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 466px;
  background: #fff;
}

/* Contact */
.contact {
  background: linear-gradient(0deg, #48dbfb,#0abde3,#0abde3,#48dbfb);
}

.contact .titleText {
  margin-top: 80px;
}

.contentContact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.contentContact .contactInfo {
  width: 15%;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background: linear-gradient(135deg, #b1b1b1, #8395a7, #485460) ;
  border: 2px solid #ffd32a;
  border-radius: 20px;
}

.boxSocial .boxWeb {
  display: column;
  justify-content: center;
  align-items: center;
}

.boxSocial .boxWeb .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-right: 30px;
}

.boxSocial .boxWeb img {
  width: 80px;
  height: 80px;
}

.contentContact .formBx {
  min-width: 50%;
  margin-left: 50px;
}

.formBx {
  border: 2px solid #ffd32a;
  border-radius: 22px;
}

.formBx form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(135deg, #b1b1b1, #8395a7, #485460) ;
}

.contentContact .contactInfo h2 {
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

.contactInfo h3 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}

.formBx h3 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
}

.formBx form input,
.formBx form textarea {
  margin-bottom: 7px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
  border-radius: 20px;
  margin: 10px;
}

.formBx form textarea {
  min-height: 120px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color:#999
}

.formBx form input[type="submit"] {
  margin: auto;
  max-width: 100px;
  background: linear-gradient(135deg,#48dbfb,#0abde3);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.formBx form input[type="submit"]:hover {
  background: #ffd32a;
  color: #535c68;
  transition: 0.5s;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 120px);
    position: fixed;
    top: 120px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }

  header .navigation li {
    margin-left: 0;
  }

  header .navigation li a {
    color: #111;
    font-size: 1.8em;
    margin: 10px;
  }

  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background: url(./image/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menuToggle.active {
    background: url(./image/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header.sticky .menuToggle {
    filter: invert(1);
  }

  .banner {
    background-size: cover;
  }

  .banner .content h2 {
    margin-top: 60px;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
  }

  .content .btn {
    margin-top: 80px;
  }

  .contentBox p {
    margin: 20px;
    margin-top: 0px;
    font-size: 1.2em;
  }

  .services .contentS {
    margin-left: 0;
    margin-right: 0;
  }
  
  .contentContact {
    flex-direction: column;
  }

  .contentContact .contactInfo {
    min-width: 80%;
    padding: 20px;
    margin-bottom: 40px;
  }

  .boxSocial .boxWeb .icon {
    margin: 10px;
  }

  .contentContact .formBx {
    width: 80%;
    padding-left: 0;
    margin-left: 0;
  }
  
}